{%- comment -%}
  Track lgth --> 4:24
  A1 --> 0:00
  (A) --> 0:40
  B1 --> 0:44
  B2 --> 1:02
  (A2) --> 1:12
  A1 --> 1:22
  (A) --> 1:42
  B1 --> 1:48
  B3 --> 2:06
  () --> 2:48
  C1 --> 2:49
  C2 --> 3:26
  () --> 3:44
  B4 --> 3:45
{%- endcomment -%}

{% assign t_min = 4 %}
{% assign t_sec = 24 %}
{% assign t_tot = t_min | times: 60 | plus: t_sec %}
{% assign t_tst = 24 %}

{% assign a1_0 = 0 | times: 60 | plus: 0  | times: 100 %}
{% assign at_0 = 0 | times: 60 | plus: 40 | times: 100 %}
{% assign b1_0 = 0 | times: 60 | plus: 44 | times: 100 %}
{% assign b2   = 1 | times: 60 | plus: 2  | times: 100 %}
{% assign a2t  = 1 | times: 60 | plus: 12 | times: 100 %}
{% assign a1_1 = 1 | times: 60 | plus: 22 | times: 100 %}
{% assign at_1 = 1 | times: 60 | plus: 42 | times: 100 %}
{% assign b1_1 = 1 | times: 60 | plus: 48 | times: 100 %}
{% assign b3   = 2 | times: 60 | plus: 6  | times: 100 %}
{% assign t_0  = 2 | times: 60 | plus: 48 | times: 100 %}
{% assign c1   = 2 | times: 60 | plus: 49 | times: 100 %}
{% assign c2   = 3 | times: 60 | plus: 26 | times: 100 %}
{% assign t_1  = 3 | times: 60 | plus: 44 | times: 100 %}
{% assign b4   = 3 | times: 60 | plus: 45 | times: 100 %}

{% assign a1_0_w = at_0  | minus: a1_0 %}
{% assign at_0_w = b1_0  | minus: at_0 %}
{% assign b1_0_w = b2    | minus: b1_0 %}
{% assign b2_w   = a2t   | minus: b2 %}
{% assign a2t_w  = a1_1  | minus: a2t %}
{% assign a1_1_w = at_1  | minus: a1_1 %}
{% assign at_1_w = b1_1  | minus: at_1 %}
{% assign b1_1_w = b3    | minus: b1_1 %}
{% assign b3_w   = t_0   | minus: b3 %}
{% assign t_0_w  = c1    | minus: t_0 %}
{% assign c1_w   = c2    | minus: c1 %}
{% assign c2_w   = t_1   | minus: c2 %}
{% assign t_1_w  = b4    | minus: t_1 %}
{% assign b4_w   = t_tot | times: 100 | minus: b4 %}

<div class="track-container">
  <img src="{{ "/images-md/music/ankhaos-muninHugin/01synapsidBlues-4-24.png" | prepend:site.baseurl }}" alt="img failed to load :c" style="display:block; margin-left: auto; margin-right: auto; width: 100%;">
  <div class="sec-single" id="s1_A" style="left:calc({{a1_0}}%/{{t_tot}}); width: calc({{a1_0_w}}%/{{t_tot}});"><div class="sec-text">A1</div></div>
  <div class="sec-single" id="s1_A" style="left:calc({{at_0}}%/{{t_tot}}); width:calc({{at_0_w}}%/{{t_tot}});"><div class="sec-text-small"><em>(A)</em></div></div>
  <div class="sec-single" id="s1_B" style="left:calc({{b1_0}}%/{{t_tot}}); width:calc({{b1_0_w}}%/{{t_tot}});"><div class="sec-text">B1</div></div>
  <div class="sec-single" id="s1_B" style="left:calc({{b2}}%/{{t_tot}}); width:calc({{b2_w}}%/{{t_tot}});"><div class="sec-text">B2</div></div>
  <div class="sec-single" id="s1_A" style="left:calc({{a2t}}%/{{t_tot}}); width:calc({{a2t_w}}%/{{t_tot}});"><div class="sec-text-small"><em>(A2)</em></div></div>
  <div class="sec-single" id="s1_A" style="left:calc({{a1_1}}%/{{t_tot}}); width:calc({{a1_1_w}}%/{{t_tot}});"><div class="sec-text">A1</div></div>
  <div class="sec-single" id="s1_A" style="left:calc({{at_1}}%/{{t_tot}}); width:calc({{at_1_w}}%/{{t_tot}});"><div class="sec-text-small"><em>(A)</em></div></div>
  <div class="sec-single" id="s1_B" style="left:calc({{b1_1}}%/{{t_tot}}); width:calc({{b1_1_w}}%/{{t_tot}});"><div class="sec-text">B1</div></div>
  <div class="sec-single" id="s1_B" style="left:calc({{b3}}%/{{t_tot}}); width:calc({{b3_w}}%/{{t_tot}});"><div class="sec-text">B3</div></div>
  <!--<div class="sec-single" id="s1_D" style="left:calc({{t_0}}%/{{t_tot}}); width:calc({{t_0_w}}%/{{t_tot}});"><div class="sec-text">()</div></div>-->
  <div class="sec-single" id="s1_C" style="left:calc({{c1}}%/{{t_tot}}); width:calc({{c1_w}}%/{{t_tot}});"><div class="sec-text">C1</div></div>
  <div class="sec-single" id="s1_C" style="left:calc({{c2}}%/{{t_tot}}); width:calc({{c2_w}}%/{{t_tot}});"><div class="sec-text">C2</div></div>
  <!--<div class="sec-single" id="s1_D" style="left:calc({{t_1}}%/{{t_tot}}); width:calc({{t_1_w}}%/{{t_tot}});"><div class="sec-text">()</div></div>-->
  <div class="sec-single" id="s1_B" style="left:calc({{b4}}%/{{t_tot}}); width:calc({{b4_w}}%/{{t_tot}});"><div class="sec-text">B4</div></div>

</div>
<div class="track-ruler" style="padding-bottom:30px;">
    {% include /music/ruler.html rul_t_min=t_min rul_t_sec=t_sec %}</div>

<div></div>
