---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.45;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-notsodark:  darken($grey-color, 17%);

$suneggv-color-lightgrey: #D8D8D8;
$suneggv-color-birb: #FFBCBC;
$suneggv-color-song: #BDFFF2;
$suneggv-color-tech: #BADDFF;

// Width of the content area
$content-width:    800px;

//$on-palm:          600px;
$on-palm:          1px;
$on-palm-suneggv:  799px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "suneggv-css",
        "suneggv-track",
        "suneggv-music-ruler"
;
