{% assign secs_str = "15,30,45" | split: "," %}

{% assign t_tot = include.rul_t_min | times: 60 | plus: include.rul_t_sec %}

{% assign frac_min = 60 | times: 100 | divided_by: t_tot %}
{% assign frac_min_top = 60 | times: 100 %}
{% assign frac_min_bot = t_tot %}

{% assign frac_min_last = include.rul_t_sec | times: 100 | divided_by: t_tot %}
{% assign frac_min_last_top = include.rul_t_sec | times: 100 %}
{% assign frac_min_last_bot = t_tot %}

{% assign frac_sec = 15 | times: 100 | divided_by: include.rul_t_sec %}
{% assign frac_sec_top = 15 | times: 100 %}
{% assign frac_sec_bot = include.rul_t_sec %}


{% for curr_min in (0..include.rul_t_min) %}

    {% if curr_min != include.rul_t_min %}
        <div class="minute" style="width:calc({{frac_min_top}}%/{{frac_min_bot}}); left:calc({{curr_min}} * {{frac_min_top}}%/{{frac_min_bot}});">
    {% else %}
        <div class="minute" style="width:calc({{frac_min_last_top}}%/{{frac_min_last_bot}}); left:calc({{curr_min}} * {{frac_min_top}}%/{{frac_min_bot}});">
    {% endif %}
    <span class="post-meta" style="margin-left: 2px;">
    <em><b>{{curr_min}}</b></em>
    </span>

    {% if curr_min != include.rul_t_min %}

        {% for curr_sec_quart in (1..3) %}
            <div class="second" style="width:25%; left:{{curr_sec_quart | times: 25}}%;"><span class="post-meta"><em>{{curr_sec_quart | times: 15}}</em></span>
            </div>
        {% endfor %}

    {% else %}

        {% for curr_sec_quart in secs_str %}
            {% assign curr_sec_quart_num = curr_sec_quart | abs %}
            {% if curr_sec_quart_num <= include.rul_t_sec %}
                <div class="second" style="width:calc({{frac_sec_top}}%/{{frac_sec_bot}}); left:calc({{curr_sec_quart}}/15*{{frac_sec_top}}%/{{frac_sec_bot}});"><span class="post-meta"><em>
                {{curr_sec_quart}}</em></span>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}
    </div>
{% endfor %}
