---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="row-excerpt">
      <div class="column-excerpt left-excerpt mobile-post-title-left">
        <img src="{{ page.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:94%; display:block; margin-left:auto; margin-right:6%; margin-top:10%">
      </div><div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ page.description }}</em></span></div></div>
      <div class="column-excerpt right-excerpt mobile-post-title-right">
        <div class="post-title-div">
        {% if page.categories[0] == "posts-bird" %}
          <h1 class="post-title" id="birdTX" itemprop="name headline">{{ page.title }}</h1>
        {% elsif page.categories[0] == "posts-music" %}
          <h1 class="post-title" id="songTX" itemprop="name headline">{{ page.title }}</h1>
        {% elsif page.categories[0] == "posts-tech" %}
          <h1 class="post-title" id="techTX" itemprop="name headline">{{ page.title }}</h1>
        {% elsif page.trash == "yes" %}
          <h1 class="post-title" id="term" itemprop="name headline">[TRASH] {{ page.title }}</h1>
        {% elsif page.draft == "yes" %}
          <h1 class="post-title" id="elseGO" itemprop="name headline">[DRAFT] {{ page.title }}</h1>
        {% endif %}
        </div><div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ page.description }}</em></span></div></div>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </div>
    </div>
    <label class="mobile-button-div" style = "width:30px; margin-left: 30px; margin-top: -40px;">
        <input type="checkbox">
        <img class="mobile-button" src="{{ "/images-html/buttons/button-unpressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
        <img class="mobile-button-pressed" src="{{ "/images-html/buttons/button-pressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
        <div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ page.description }}</em></span></div></div>
    </label>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% assign all_url = page.url | split: "/" | reverse %}
  {% assign end_folder_name = all_url[0] | split: "." %}
  {% assign end_folder_name = end_folder_name[0] %}

  {% if site.data.references[end_folder_name] %}

  <hr class="hrule" color="#D7D7D7" style="display: block; margin-bottom:0px; margin-top:-10px; margin-left:0%; margin-right:0%;">
  <h1 class="page-heading" style="font-size:16px; margin-left:1%; "><b><em>References:</em></b></h1>

  <ul class="ref-list">
    {% for entry_hash in site.data.references[end_folder_name] %}
      {% assign entry = entry_hash[1] %}
      {% assign ref_date = entry.date | replace: "T"," " | split: "." %}
      {% assign ref_date = ref_date[0] %}
      {% if page.categories[0] == "posts-bird" %}
        {% assign ref_hue = 24 %}
      {% elsif page.categories[0] == "posts-music" %}
        {% assign ref_hue = 140 %}
      {% elsif page.categories[0] == "posts-tech" %}
        {% assign ref_hue = 247 %}
      {% else %}
        {% assign ref_hue = 169 %}
      {% endif %}
      {% if entry.srcIsbn %}
        {% assign ref_short = entry.srcIsbn | replace: "-", "-§ " %}
        {% assign ref_short = ref_short | split: "§"%}
      {% elsif entry.srcCatno %}
        {% assign ref_short = entry.srcCatno %}
      {% elsif entry.srcDoi %}
        {% assign ref_short = entry.srcDoi | replace: ".", ".§ " %}
        {% assign ref_short = ref_short | split: "§"%}
      {% else %}
        {% assign ref_short = entry.srcUrl | split: "//" %}
        {% assign ref_short = ref_short[1] | split: "/" %}
        {% assign ref_short = ref_short[0] %}
      {% endif %}
      <li>
        <div class="ref-row">
            <div class="ref-column ref-left" style="background-color: hsl({{ref_hue}},30%,90%);">
                <div class="ref-name" style="color: hsl({{ref_hue}},50%,40%); line-height: 1.1; margin-bottom: 4px;"> <em><b>{{entry.name}}</b></em> </div>
                {% if entry.srcIsbn %}
                  {% if entry.srcUrl %}
                    <div class="ref-post-meta" style="color: hsl({{ref_hue}},40%,40%);"><b style="word-spacing: 0px;">ISBN: </b><a href="{{ entry.srcUrl }}">{{ref_short}}</a></div>
                    <div class="ref-post-acc" style="color: hsl({{ref_hue}},40%,40%);"><em>(acc. <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ ref_date | date: "%b %-d, %Y" }}</time>)</em></div>
                  {% else %}
                    <div class="ref-post-meta" style="color: hsl({{ref_hue}},40%,40%);"><b style="word-spacing: 0px;">ISBN: </b>{{ref_short}}</div>
                  {% endif %}
                {% elsif entry.srcCatno %}
                  {% if entry.srcUrl %}
                    <div class="ref-post-meta" style="color: hsl({{ref_hue}},40%,40%); word-spacing: 0px;"><b style="word-spacing: 0px;">Cat #: </b><a href="{{ entry.srcUrl }}">{{ref_short}}</a></div>
                    <div class="ref-post-acc" style="color: hsl({{ref_hue}},40%,40%);"><em>(acc. <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ ref_date | date: "%b %-d, %Y" }}</time>)</em></div>
                  {% else %}
                    <div class="ref-post-meta" style="color: hsl({{ref_hue}},40%,40%); word-spacing: 0px;"><b style="word-spacing: 0px;">Cat #: </b>{{ref_short}}</div>
                  {% endif %}
                {% elsif entry.srcDoi %}
                  <div class="ref-post-meta" style="color: hsl({{ref_hue}},40%,40%);"><b style="word-spacing: 0px;">DOI: </b><a href="{{ entry.srcUrl }}">{% for pt in ref_short %}{{pt}}{% endfor %}</a></div>
                  <div class="ref-post-acc" style="color: hsl({{ref_hue}},40%,40%);"><em>(acc. <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ ref_date | date: "%b %-d, %Y" }}</time>)</em></div>
                {% else %}
                  <div class="ref-post-meta" style="color: hsl({{ref_hue}},40%,40%);"><b style="word-spacing: 0px;">Site: </b><a href="{{ entry.srcUrl }}">{{ref_short}}</a></div>
                  <div class="ref-post-acc" style="color: hsl({{ref_hue}},40%,40%);"><em>(acc. <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ ref_date | date: "%b %-d, %Y" }}</time>)</em></div>
                {% endif %}
            </div>
            <div class="ref-column ref-spacer"></div>
            <div class="ref-column ref-right" style="background-color: hsl({{ref_hue}},55%,96%);">
                <div class="ref-author" style="display:block; line-height: 1.3; margin-bottom: 4px;"><b>{{entry.author}}</b></div>
                <div class="ref-title" style="display:block;">{{entry.title}}</div>
                {% if entry.other %}
                  <div class="ref-other" style="display:block;"><em>{{entry.other}}</em></div>
                {% endif %}
            </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <hr class="hrule" color="#D7D7D7" style="display: block; margin-bottom:35px; margin-top:40px; margin-left:0%; margin-right:0%;">
  {% else %}

  <hr class="hrule" color="#D7D7D7" style="display: block; margin-bottom:35px; margin-top:-20px; margin-left:0%; margin-right:0%;">
  {% endif %}

  <div class="form-div">
    <form method="POST" action="https://staticman-suneggv.herokuapp.com/v3/entry/gitlab/suneggv/suneggv/master/comments">
      <input name="options[redirect]" type="hidden" value="https://suneggv.gitlab.io/suneggv/thx4comm/">
      <!-- e.g. "2016-01-02-this-is-a-post" -->
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <textarea name="fields[message]" placeholder="Prruuu Seeeed ÔvÔ"></textarea>
      <input name="fields[email]" type="email" placeholder="             e.g. justFor@bgColor"><div class="form-label"><b><em>e-mail</em></b></div>
      <input name="fields[name]" type="text" placeholder="e.g. Water Bottle"><div class="form-label" style="z-index: 999;"><b><em>name</em></b></div>
      <!--<button type="submit">Go!</button>-->
      <div class=post-excerpt style="display: block; margin-top: 15px;">
      <div class="cont" style="display: block; margin-top: 0px;">
        <div class="center-button"><button class="button button1" type="submit" >comment</button></div>
      </div></div>
    </form>
  </div>

  <hr class="hrule" color="#D7D7D7" style="display: block; margin-top:-5px;">
  <h1 class="page-heading" style="font-size:16px;"><b><em>Comments:</em></b></h1>

  <ul class="comm-list">
  {% if site.data.comments[end_folder_name] %}
    {% for entry_hash in site.data.comments[end_folder_name] reversed %}
      {% assign entry = entry_hash[1] %}
      {% comment %}
        {% assign user_hue = entry.email | replace:"a","0" | replace:"b","1" | replace:"c","2" | replace: "d","3" | replace: "e","4" | replace: "f","5" | abs | modulo: 360 %}
        {% assign user_hue = entry.name | strip_html | slugify: "latin" %}
      {% endcomment %}
      {% assign user_hue = entry.name | strip_html | slugify: "latin" | replace:"a","0" | replace:"b","1" | replace:"c","2" | replace: "d","3" | replace: "e","4" | replace: "f","5" | replace:"g","6" | replace:"h","7" | replace:"i","8" | replace: "j","9" | replace: "k","0" | replace: "l","1" | replace:"m","2" | replace: "n","3" | replace: "o","4" | replace: "p","5" | replace:"q","6" | replace:"r","7" | replace:"s","8" | replace: "t","9" | replace: "u","0" | replace: "v","1" | replace:"w","2" | replace: "x","3" | replace: "y","4" | replace: "z","5" | replace:"-","6" | abs | modulo: 360 %}
      {% assign comm_date = entry.date | replace: "T"," " | split: "." %}
      {% assign comm_date = comm_date[0] %}

      <li>
        <div class="comm-row">
            <div class="comm-column comm-left" style="background-color: hsl({{user_hue}},30%,90%);">
                <div class="comm-username" style="color: hsl({{user_hue}},50%,40%);"> <em><b>{{entry.name}}</b></em> </div>
                <div class="comm-post-meta" style="color: hsl({{user_hue}},40%,40%);"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ comm_date | date: "%H:%M, %b %-d, %Y" }}</time></div>
            </div>
            <div class="comm-column comm-spacer"></div>
            <div class="comm-column comm-right" style="background-color: hsl({{user_hue}},55%,96%);">
                {{entry.message}}
            </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <span class="post-meta" style="display: flex; justify-content: center; margin-top: -15px;"><em>no comments yet</em></span>
  {% endif %}


</article>
