/* ======================================================================== */
/* ===  IDs  ============================================================== */
/* ======================================================================== */

#s1_A {background-color: #00FFD055; border-color: #00FFD0AA;} // sec-single, A
#s1_B {background-color: #FFD20055; border-color: #FFD200AA;}
#s1_C {background-color: #D100FF55; border-color: #D100FFAA;}
#s1_D {background-color: #00FF0355; border-color: #00FF03AA;}
#s1_E {background-color: #FF000055; border-color: #FF0000AA;}
#s1_F {background-color: #0700FF55; border-color: #0700FFAA;}
#s1_G {background-color: #99FF0055; border-color: #99FF00AA;}
#s1_H {background-color: #FF009955; border-color: #FF0099AA;}
#s1_I {background-color: #0096FF55; border-color: #0096FFAA;}
#s1_J {background-color: #F8FF0055; border-color: #F8FF00AA;}
#s1_K {background-color: #FF00FD55; border-color: #FF00FDAA;}
#s1_L {background-color: #00F3FF55; border-color: #00F3FFAA;}

/* ======================================================================== */
/* ===  TRACK CONTAINER  ================================================== */
/* ======================================================================== */

.track-container {

    position: relative;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: magenta; // reminder not to touch img style
 }

.track-ruler {
    position: relative;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sec-single {
    position: absolute;
    height: 99%;
    top: 0.5%;
    z-index: 999;
    border-radius: 8px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    opacity: 0.4;
    font-size: 12px;
    margin-top: -1px;
}

.sec-text {
    display: block;
    margin-top: -20px;
    text-align: center;
}

.sec-text-small {
    display: block;
    margin-top: -19px;
    text-align: center;
    font-size: 11px;
}

.sec-single:hover {
    opacity: 0.9;
    transition-duration: 0.08s;
}

@include media-query($on-palm-suneggv) {
    .sec-text {
        font-size: 9px;
        margin-top: -12px;
    }
    .sec-text-small {
        font-size: 7px;
        margin-top: -11px;
    }
}
