.track-ruler .minute,
.track-ruler .second {
 position: absolute;
 border-left: 1px solid #555;
 height: 14px;
// width: 10%;
}

.track-ruler .minute:after {
 position: absolute;
 bottom: -15px;
}
.track-ruler .second {
 height: 5px;
 top: 0px;
}

.track-ruler .minute .post-meta{
    font-size: 13px;
}

.track-ruler .second .post-meta{
    font-size: 11px;
}

@include media-query($on-palm-suneggv) {
    .track-ruler .minute .post-meta{
        font-size: 10px;
    }

    .track-ruler .second .post-meta{
        font-size: 7px;
    }
}
