/* ======================================================================== */
/* ===  TWO COLUMNS FOR THE POST LISTS  =================================== */
/* ======================================================================== */

.column {
  float: left;
  //width: 50%;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

.row {
  display: block;
  margin-left: 20%;
  margin-right:10%;
}

@include media-query($on-palm-suneggv) {
  .row {
    display: block;
    margin-left: 6%;
    margin-right:3%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* ======================================================================== */
/* ===  POST EXCERPT FOR INDEX.HTML ======================================= */
/* ======================================================================== */

.post-excerpt {
    margin-bottom: $spacing-unit;
    display: block;
    margin-left: 20%;
    margin-right:10%;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

@include media-query($on-palm-suneggv) {
  .post-excerpt {
    display: block;
    margin-left: 8%;
    margin-right:4%;
  }
}

.gregory {
    p {
        margin-bottom: $spacing-unit / 1.35;
    }
}

/* ======================================================================== */
/* ===  PAGE POST EXCERPT, CONT (PAGE-HEADINGS) =========================== */
/* ======================================================================== */

.page-heading {
    display: block;
    margin-left: 8%;
    margin-right:4%;
}

@include media-query($on-palm-suneggv) {
  .page-heading {
    display: block;
    margin-left: 0%;
    margin-right:0%;
  }
}

.page-subheading {
    font-size: 20px;
}


/* ======================================================================== */
/* ===  PAGE POST EXCERPT, CONT (HRULES) ================================== */
/* ======================================================================== */

.hrule {
    display: block;
    margin-left: 10%;
    margin-right:10%;
}
@include media-query($on-palm-suneggv) {
  .hrule {
    display: block;
    margin-left: 2%;
    margin-right:2%;
  }
}


/* ======================================================================== */
/* ===  PAGE POST EXCERPT, CONT (BUTTON) ================================== */
/* ======================================================================== */

.button {
  border: 1px solid $grey-color-light;
  border-radius: 30px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.08s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #979797;
  border: 2px solid #979797;
}

.button1:hover {
  border: 2px solid #D7D7D7;
  background-color: #F5F5F5;
  color: black;
}

.cont {
  height: 1px;
  position: relative;
}

.center-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 43%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@include media-query($on-palm-suneggv) {
    .center-button {
        left: 50%;
    }
}


/* ======================================================================== */
/* ===  PAGE POST EXCERPT, SMALL THUMBNAIL COLUMNS ======================== */
/* ======================================================================== */

.column-excerpt {
  float: left;
  //width: 50%;
}

.left-excerpt {
  width: 85px;
  //margin-right:2%;
  margin-right:10px;
}

.right-excerpt {
  width: 81%;
  margin-top: 2%;
}

.row-excerpt {
  display: block;
  margin-left: 0%;
  margin-right: 0%;
}

@include media-query($on-palm-suneggv) {
  .row-excerpt {
    display: block;
    margin-left: 0%;
    margin-right: 0%;
  }
  .left-excerpt {
    width: 85px;
    margin-right:10px;
  }
  .right-excerpt {
    width: calc(70vw - 86px);
    margin-top: 10px;
  }
}

/* Clear floats after the columns */
.row-excerpt:after {
  content: "";
  display: table;
  clear: both;
}


/* ======================================================================== */
/* ===  PAGE POST EXCERPT, HOVERING DESCRIPTION =========================== */
/* ======================================================================== */

.description-rectangle {
  height: 50px;
  width: 300px;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  height:auto;
  padding-bottom: 5px;
  padding-right: 5px;
  background-color: #F5F5F5;
  display: none;
}

@media (min-width: $on-palm-suneggv) {
    .post-title-excerpt:hover + .description-rectangle{
      display: block;
      position: absolute;
      z-index: 999;
    }
    .post-link:hover + .description-rectangle{
      display: block;
      position: absolute;
      z-index: 999;
    }

    .mobile-post-title-left:hover + .description-rectangle{
        display: block;
        position: absolute;
        z-index: 999;
        margin-left: 248px;
        margin-top: 63px;
    }

    .post-title-div:hover + .description-rectangle{
        display: block;
        position: absolute;
        z-index: 999;
        margin-left: 88px;
        margin-top: -9px;
    }
}

/*
@include media-query($on-palm-suneggv) {
    .post-title-excerpt:active + .description-rectangle{
      display: block;
      position: absolute;
      width: calc(70vw - 75px);
      z-index: 999;
    }
    .post-link:active + .description-rectangle{
      display: block;
      position: absolute;
      width: calc(70vw - 75px);
      z-index: 999;
    }

    .mobile-post-title-left:active + .description-rectangle{
        display: block;
        position: absolute;
        z-index: 999;
        margin-left: 40px;
        margin-top: 63px;
    }
    .post-title-div:active + .description-rectangle{
        display: block;
        position: absolute;
        z-index: 999;
        margin-left: -88px;
        margin-top: -9px;
    }
}
*/

/* ======================================================================== */
/* ===  POST, MOBILE TITLE ================================================ */
/* ======================================================================== */

@media (min-width: $on-palm-suneggv) {
    .mobile-post-title-left {
        width:150px;
    }
    .mobile-post-title-right {
        width:568px;
    }
}

@include media-query($on-palm-suneggv) {
    .mobile-post-title-left {
        width: 20%;
    }
    .mobile-post-title-right {
        width: 70%;
    }
}


/* ======================================================================== */
/* ===  MOBILE BUTTON ===================================================== */
/* ======================================================================== */

.mobile-button-div {
    display: none;
    padding-top: 10px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@include media-query($on-palm-suneggv) {
    .mobile-button-div {
        display: block;
    }
}

/* Hide the browser's default checkbox */
.mobile-button-div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* When the checkbox is checked, add a blue background */
/*.mobile-button-div input:checked ~ .mobile-button {
  background-color: #2196F3;
}*/

.mobile-button-pressed {
    display: none;
}

.mobile-button-div input:checked ~ .mobile-button-pressed {
    display: inline;
    margin-left: -30px;
    position: absolute;
    z-index: 999;
}

.mobile-button-div input:checked ~ .description-rectangle {
    display: block;
    margin-left: 35px;
    margin-top: -35px;
    position: absolute;
    z-index: 999;
}


/* ======================================================================== */
/* ===  THREE COLUMNS FOR THE ARCHIVE  ==================================== */
/* ======================================================================== */

.column3 {
  float: left;
  //width: 50%;
}

.L3 {
  width: 33.3%;
}

.C3 {
  width: 33.3%;
}

.R3 {
  width: 33.3%;
}

.row3 {
  display: block;
  margin-left: 0%;
  margin-right:0%;
}

@include media-query($on-palm-suneggv) {
  .row3 {
    display: none;
    margin-left: 0%;
    margin-right:0%;
  }
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

.kive-phone {
    display: none;
}

@include media-query($on-palm-suneggv) {
    .kive-phone {
        display: block;
        margin-left: 8%;
        margin-right: 8%
    }
}



/* ======================================================================== */
/* ===  COMMENT BOX  ====================================================== */
/* ======================================================================== */

.comm-list {
    margin-left: 0%;
    list-style: none;
    display: block;
    margin-top:15px;
    margin-bottom:-20px;

    > li {
        margin-bottom: 8px;
    }
}

.comm-column {
  display: table-cell;
  //width: 50%;
}

.comm-left {
  width: 26%;
  padding-left: 1%;
  display: table-cell;
}

.comm-spacer {
  width: 1%;
  display: table-cell;
}

.comm-right {
  width: 71%;
  padding-left: 1%;
  font-size: 14px;
  display: table-cell;
}

.comm-row {
  display: table;
  width: 86%;
  margin-left: 7%;
  margin-right:7%;
}



/* Clear floats after the columns */
.comm-row:after {
  content: "";
  display: table;
  clear: both;
}

.comm-post-meta {
    font-size: $small-font-size;
    display: block;
    text-align: right;
    margin-right: 5%;
    margin-top: -4px;
    margin-bottom: 2px;
}

@include media-query($on-palm-suneggv) {
  .comm-row {
    display: table;
    width: 100%;
    margin-left: 0%;
    margin-right:0%;
  }

  .comm-post-meta {
    font-size: 10px;
  }

  .comm-username {
    font-size: 12px;
  }

  .comm-right {
    font-size: 13px;
  }

  .comm-list {

      > li {
          margin-bottom: 6px;
      }
  }
}



/* ======================================================================== */
/* ===  COMMENT FORM  ===================================================== */
/* ======================================================================== */

.form-div {
  border-radius: 5px;
  margin-left: 12%;
  margin-right: 14%;
  margin-top: -10px;

  input {
    width: 100%;
    padding: 7px 55px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input:focus::placeholder, textarea:focus::placeholder {
        color: transparent;
  }

  textarea {
    width: 100%;
    padding: 2px 4px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-label {
    position: absolute;
    width: 48px;
    margin-top: -33px;
    margin-left: 6px;
    color: #7E7E7E;
  }

  input[type=text] {
    display: block;
    width: 548px;
    position: absolute;
    z-index: 998;
    margin-top: -37px;
  }

  @include media-query($on-palm-suneggv) {
    input[type=text] {
      width: 69%;
    }
  }

  input[type=text]:focus ~ .form-label {
    /* color: transparent; */
  }
  input[type=email]:focus ~ .form-label {
    /* color: transparent; */
  }
}



/* ======================================================================== */
/* ===  REFERENCE BOX  ==================================================== */
/* ======================================================================== */

.ref-list {
    margin-left: 0%;
    list-style: none;
    display: block;
    margin-top:15px;
    margin-bottom:-20px;

    > li {
        margin-bottom: 8px;
    }
}

.ref-name {
  font-size: 13px;
}

.ref-author {
  font-size: 12px;
}

.ref-title {
  font-size: 13px;
  line-height: 1.1;
  margin-top: 2px;
}

.ref-other {
  font-size: 11px;
  margin-top: 2px;
  text-align: right;
  margin-right: 5px;
}

.ref-column {
  display: table-cell;
  //width: 50%;
}

.ref-left {
  width: 26%;
  padding-left: 1%;
  display: table-cell;
}

.ref-spacer {
  width: 1%;
  display: table-cell;
}

.ref-right {
  width: 71%;
  padding-left: 1%;
  font-size: 14px;
  display: table-cell;
}

.ref-row {
  display: table;
  width: 86%;
  margin-left: 7%;
  margin-right:7%;
}



/* Clear floats after the columns */
.ref-row:after {
  content: "";
  display: table;
  clear: both;
}

.ref-post-meta {
    font-size: 11px;
    display: block;
    text-align: left;
    margin-right: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    word-spacing: -4px;
    line-height: 1.1;
}

.ref-post-acc {
    font-size: 10px;
    display: block;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 2px;
}

@include media-query($on-palm-suneggv) {
  .ref-row {
    display: table;
    width: 100%;
    margin-left: 0%;
    margin-right:0%;
  }

  .ref-post-meta {
    font-size: 9px;
    word-spacing: -3px;
  }
  .ref-post-acc {
    font-size: 8px;
  }

  .ref-name {
    font-size: 11px;
  }

  .ref-right {
    font-size: 13px;
  }

  .ref-list {

      > li {
          margin-bottom: 6px;
      }
  }
}




/* ======================================================================== */
/* ===  MARKDOWN CSS  ===================================================== */
/* ======================================================================== */

.footnote {
    font-size: 15px;
    line-height: 1.3;
    color: #4D4D4D;
}

.lst-sml-div {
    display:block;
    margin-top: -27px;
    font-size: 15px;
    line-height: 1.35;
    color: #4D4D4D;
}
