{% if page.url == "/birb/" or page.categories[0] == "posts-bird" %}
    <footer class="site-footer" id="birdFT">
{% elsif page.url == "/song/" or page.categories[0] == "posts-music" %}
    <footer class="site-footer" id="songFT">
{% elsif page.url == "/tech/" or page.categories[0] == "posts-tech" %}
    <footer class="site-footer" id="techFT">
{% else %}
    <footer class="site-footer" id="elseFT">
{% endif %}

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>andrey suneggv</li>
          {% if page.url == "/birb/" or page.categories[0] == "posts-bird" %}
            <li><a id="birdTX" href="{{ "/noemailhere/" | prepend:site.baseurl }}">{{ site.email }}</a></li>
          {% elsif page.url == "/song/" or page.categories[0] == "posts-music" %}
            <li><a id="songTX" href="{{ "/noemailhere/" | prepend:site.baseurl }}">{{ site.email }}</a></li>
          {% elsif page.url == "/tech/" or page.categories[0] == "posts-tech" %}
            <li><a id="techTX" href="{{ "/noemailhere/" | prepend:site.baseurl }}">{{ site.email }}</a></li>
          {% else %}
            <li><a id="elseTX" href="{{ "/noemailhere/" | prepend:site.baseurl }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
            <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
            </li>
          {% endif %}

          {% if site.github_username %}
            <li>
            {% include icon-github.html username=site.github_username %}
            </li>
          {% endif %}

          {% if site.rym_username %}
          <li>
            {% include icon-rym.html username=site.rym_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p><em>{{ site.description }}</em></p>
      </div>
    </div>

  </div>

</footer>
