{% if page.url == "/birb/" or page.categories[0] == "posts-bird" %}
<header class="site-header" id="birdBG">
{% elsif page.url == "/song/" or page.categories[0] == "posts-music" %}
<header class="site-header" id="songBG">
{% elsif page.url == "/tech/" or page.categories[0] == "posts-tech" %}
<header class="site-header" id="techBG">
{% else %}
<header class="site-header" id="elseBG">
{% endif %}
  <div class="wrapper-header">

  {% if page.url != "/" %}
    {% if page.url == "/birb/" or page.categories[0] == "posts-bird" %}
      <a class="site-title" id="birdTX" href="{{ site.baseurl }}/"><img style="margin-top:5px;" src="{{ "/images-html/banner/suneggv-ovo-birdTX.svg" | prepend:site.baseurl }}" alt="img failed to load :c" height="47"></a>
    {% elsif page.url == "/song/" or page.categories[0] == "posts-music" %}
      <a class="site-title" id="songTX" href="{{ site.baseurl }}/"><img style="margin-top:5px;" src="{{ "/images-html/banner/suneggv-ovo-songTX.svg" | prepend:site.baseurl }}" alt="img failed to load :c" height="47"></a>
    {% elsif page.url == "/tech/" or page.categories[0] == "posts-tech" %}
      <a class="site-title" id="techTX" href="{{ site.baseurl }}/"><img style="margin-top:5px;" src="{{ "/images-html/banner/suneggv-ovo-techTX.svg" | prepend:site.baseurl }}" alt="img failed to load :c" height="47"></a>
    {% else %}
      <!--<a class="site-title" id="elseTX" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
      <a class="site-title" id="elseTX" href="{{ site.baseurl }}/"><img style="margin-top:5px;" src="{{ "/images-html/banner/suneggv-ovo-elseTX.svg" | prepend:site.baseurl }}" alt="img failed to load :c" height="47"></a>
    {% endif %}
  {% else %}
    <img style="margin-top:5px;" src="{{ "/images-html/banner/suneggv-ovo-elseGO.svg" | prepend:site.baseurl }}" alt="img failed to load :c" height="47">
  {% endif %}

  </div>
  <div class="wrapper-header">

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.url != page.url %}
              {% if page.url == "/birb/" or page.categories[0] == "posts-bird" %}
                <a class="page-link" id="birdTX" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% elsif page.url == "/song/" or page.categories[0] == "posts-music" %}
                <a class="page-link" id="songTX" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% elsif page.url == "/tech/" or page.categories[0] == "posts-tech" %}
                <a class="page-link" id="techTX" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% else %}
                <a class="page-link" id="elseTX" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% else %}
              {% if page.url == "/birb/" or page.categories[0] == "posts-bird" %}
                <div class="page-link-greyed-out" id="birdGO"> {{ my_page.title }} </div>
              {% elsif page.url == "/song/" or page.categories[0] == "posts-music" %}
                <div class="page-link-greyed-out" id="songGO"> {{ my_page.title }} </div>
              {% elsif page.url == "/tech/" or page.categories[0] == "posts-tech" %}
                <div class="page-link-greyed-out" id="techGO"> {{ my_page.title }} </div>
              {% else %}
                <div class="page-link-greyed-out" id="elseGO"> {{ my_page.title }} </div>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
