<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- favicon (https://gist.github.com/leommoore/6415005) -->
  <!-- more favicon (https://sympli.io/blog/heres-everything-you-need-to-know-about-favicons-in-2020/) -->
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{{ "/images-html/favicon/favicon.ico" | prepend:site.baseurl }}">
  <!--<link rel="apple-touch-icon-precomposed" href="{{ "/images-html/favicon/favicon-152.png" | prepend:site.baseurl }}">-->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{ "/images-html/favicon/favicon-144.png" | prepend:site.baseurl }}">
  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/images-html/favicon/favicon-152.png" | prepend:site.baseurl }}">

    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/images-html/favicon/favicon-144.png" | prepend:site.baseurl }}">

    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/images-html/favicon/favicon-120.png" | prepend:site.baseurl }}">

    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/images-html/favicon/favicon-114.png" | prepend:site.baseurl }}">

    <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/images-html/favicon/favicon-72.png" | prepend:site.baseurl }}">

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="{{ "/images-html/favicon/favicon-57.png" | prepend:site.baseurl }}">
  <!-- END favicon -->

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- *BG = background, *TX = text, *GO = greyed out -->
  <style>
    #birdBG { background-image: radial-gradient(ellipse at top, #ECDDD4 5%, white 75%);}
    #birdLK { color: #BA8A69;}
    #birdTX { color: #472F20;}
    #birdGO { color: #CCA78F;}
    #birdVB { :root {--codeBG: #ECDDD4;}}
    #birdFT { background-image: radial-gradient(ellipse at 50% 40%, #F4EAE5 0%, white 50%);}
    #birdHL { background-color: #FFCDAB; }
    #songBG { background-image: radial-gradient(ellipse at top, #CBE8D5 5%, white 75%);}
    #songLK { color: #459E63;}
    #songTX { color: #1A3B25;}
    #songGO { color: #78C491;}
    #songVB { :root {--codeBG: #CBE8D5;}}
    #songFT { background-image: radial-gradient(ellipse at 42% 40%, #DFF1E5 0%, white 50%);}
    #songHL { background-color: #95FFB9; }
    #techBG { background-image: radial-gradient(ellipse at top, #D3D0E9 5%, white 75%);}
    #techLK { color: #6A60B6;}
    #techTX { color: #211D40;}
    #techGO { color: #8B83C6;}
    #techVB { :root {--codeBG: #D3D0E9;}}
    #techHL { background-color: #AEEDFF; }
    #techFT { background-image: radial-gradient(ellipse at 42% 40%, #E3E1F1 0%, white 50%);}
    #elseBG { background-image: radial-gradient(ellipse at top, #D7D7D7 5%, white 75%);}
    #elseLK { color: #7E7E7E;}
    #elseTX { color: #272727;}
    #elseGO { color: #979797;}
    #elseLKK { color: #BC5BFF;}
    #elseVB { :root {--codeBG: #D7D7D7;}}
    #elseFT { background-image: radial-gradient(ellipse at 42% 40%, #E6E6E6 0%, white 50%);}
    #elseHL { background-color: #FFF782; }
    #term { color: #FDFF9D; background-color: #686895; border-radius: 8px; white-space: nowrap; }
    #lstSml { font-size:15px; color: #4D4D4D; }
    #boldWK { color: #4D4D4D; }
  </style>
</head>
