{% if page.url == "/birb/" or page.categories[0] == "posts-bird" %}<a id="birdLK" href="{{ include.link-url }}"><span>{{include.link-text}}</span></a>{% elsif page.url == "/song/" or page.categories[0] == "posts-music" %}<a id="songLK" href="{{ include.link-url }}"><span>{{include.link-text}}</span></a>{% elsif page.url == "/tech/" or page.categories[0] == "posts-tech" %}<a id="techLK" href="{{ include.link-url }}"><span>{{include.link-text}}</span></a>{% else %}<a id="elseLKK" href="{{ include.link-url }}"><span id>{{include.link-text}}</span></a>{% endif %}
