---
layout: default
title: "draft"
permalink: /draft/
---

<div class="home">

  <h1 class="page-heading"><b><em>Most recent drafts</em></b></h1>

  <ul class="post-list" style="display: block; margin-top:35px;">
    {% for post in site.posts %}
    {% if post.draft == "yes" %}
      <li>
        <div class="row">
            <div class="column left">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:94%; display:block; margin-left:auto; margin-right:6%; margin-top:10%"></a>
            </div>
            <div class="column right">
                <h2>
                  <a id="elseTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <span class="post-meta" style="display: block; margin-top: -18px; margin-left: 8px;">{{ post.date | date: "%b %-d, %Y" }}</span>
                <span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span>
            </div>
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  <div class=post-excerpt style="display: block; margin-top: 0px;">
  <div class="cont" style="display: block; margin-top: 0px;">
    <div class="center-button"><a class="post-link" href="{{ "/draft_kive/" | prepend: site.baseurl }}"><button class="button button1">old draft</button></a></div>
  </div></div>

  <p class="rss-subscribe">subscribe <a id="elseGO" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
