---
layout: default
title: "'kive"
permalink: /kive/
---

<div class="home">

  <h1 class="page-heading"><b><em>'Kive ÔvÔ</em></b></h1>

  <div class="row3">
    <div class="column3 L3">
        <ul class="post-list">
          {% for post in site.categories.posts-bird %}
            {% if post.trash == "no" and post.draft == "no" %}
              <div class="row" style="margin-left:0%; margin-right:0%;">
                  <div class="column left" style="width: 40%; ">
                      <label class="mobile-button-div" style = "display: inline-block; width:30px; padding-right: 3px;">
                          <input type="checkbox">
                          <img class="mobile-button" src="{{ "/images-html/buttons/button-unpressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                          <img class="mobile-button-pressed" src="{{ "/images-html/buttons/button-pressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                          <div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span></div></div>
                      </label>
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="width:50%; display:inline;"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:50%; display:inline-block;"></a>
                  </div>
                  <div class="column right" style="width: 60%;">
                      <h2>
                        <a id="birdTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="font-size: 15px; margin-left: 4px; line-height: 1.2;">{{ post.title }}</a>
                      </h2>
                      <span class="post-meta" style="display: block; margin-top: -18px; margin-left: 4px;">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
    <div class="column3 C3">
        <ul class="post-list">
          {% for post in site.categories.posts-music %}
            {% if post.trash == "no" and post.draft == "no" %}
              <div class="row" style="margin-left:0%; margin-right:0%;">
                  <div class="column left" style="width: 40%; ">
                      <label class="mobile-button-div" style = "display: inline-block; width:30px; padding-right: 3px;">
                          <input type="checkbox">
                          <img class="mobile-button" src="{{ "/images-html/buttons/button-unpressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                          <img class="mobile-button-pressed" src="{{ "/images-html/buttons/button-pressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                          <div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span></div></div>
                      </label>
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="width:50%; display:inline;"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:50%; display:inline-block;"></a>
                  </div>
                  <div class="column right" style="width: 60%;">
                      <h2>
                        <a id="songTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="font-size: 15px; margin-left: 4px; line-height: 1.2;">{{ post.title }}</a>
                      </h2>
                      <span class="post-meta" style="display: block; margin-top: -18px; margin-left: 4px;">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
    <div class="column3 R3">
        <ul class="post-list">
          {% for post in site.categories.posts-tech %}
            {% if post.trash == "no" and post.draft == "no" %}
              <div class="row" style="margin-left:0%; margin-right:0%;">
                  <div class="column left" style="width: 40%; ">
                      <label class="mobile-button-div" style = "display: inline-block; width:30px; padding-right: 3px;">
                          <input type="checkbox">
                          <img class="mobile-button" src="{{ "/images-html/buttons/button-unpressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                          <img class="mobile-button-pressed" src="{{ "/images-html/buttons/button-pressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                          <div class="description-rectangle" style="width:180px;"><div style="display:block; margin-left: 7px; width: 166px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span></div></div>
                      </label>
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="width:50%; display:inline;"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:50%; display:inline-block;"></a>
                  </div>
                  <div class="column right" style="width: 60%;">
                      <h2>
                        <a id="techTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="font-size: 15px; margin-left: 4px; line-height: 1.2;">{{ post.title }}</a>
                      </h2>
                      <span class="post-meta" style="display: block; margin-top: -18px; margin-left: 4px;">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
  </div>

  <div class="kive-phone">
      <ul class="post-list">
        {% for post in site.posts %}
          {% if post.trash == "no" and post.draft == "no" %}
            <div class="row" style="margin-left:0%; margin-right:0%;">
                <div class="column left" style="width: 100px; ">
                    <label class="mobile-button-div" style = "display: inline-block; width:30px; padding-right: 3px;">
                        <input type="checkbox">
                        <img class="mobile-button" src="{{ "/images-html/buttons/button-unpressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                        <img class="mobile-button-pressed" src="{{ "/images-html/buttons/button-pressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
                        <div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span></div></div>
                    </label>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="width:50px; display:inline;"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:50px; display:inline-block;"></a>
                </div>
                <div class="column right" style="width: 60%;">
                    <h2>
                      <a id="elseTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="font-size: 15px; margin-left: 4px;">{{ post.title }}</a>
                    </h2>
                    <span class="post-meta" style="display: block; margin-top: -18px; margin-left: 4px;">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
            </div>
          {% endif %}
        {% endfor %}
      </ul>
  </div>

  <p class="rss-subscribe">subscribe <a id="elseGO" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
