---
layout: default
title: "trash"
permalink: /trash/
---

<div class="home">

  <h1 class="page-heading"><b><em>Most recent trash</em></b></h1>

  {% assign after_first_trash = 0 %}
  {% assign found_trash = "false" %}
  {% assign the_offset = 0 %}

  {% for post in site.posts %}
  {% assign the_offset = the_offset | plus: 1 %}
  {% if post.trash == "yes" and found_trash == "false" %}
  {% assign after_first_trash = the_offset %}
  {% assign found_trash = "true" %}
  <div class=post-excerpt style="display: block; margin-top: -12px;">

    <div class="row-excerpt">
      <div class="column-excerpt left-excerpt">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:94%; display:block; margin-left:auto; margin-right:6%; margin-top:10%"></a><div class="description-rectangle" style="margin-left: 95px; margin-top: -30px"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span></div></div>
      </div>
      <div class="column-excerpt right-excerpt">
        <h2><a id="elseTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}"><div class="post-title-excerpt">{{ post.title }}</div>
        <div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span></div></div></a></h2><span class="post-meta" style="display: block; margin-top: -18px; margin-left: 8px;">{{ post.date | date: "%b %-d, %Y" }}</span>
      </div>

    </div>

    <label class="mobile-button-div" style = "width:30px; margin-left: 20px;">
        <input type="checkbox">
        <img class="mobile-button" src="{{ "/images-html/buttons/button-unpressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
        <img class="mobile-button-pressed" src="{{ "/images-html/buttons/button-pressed.svg" | prepend:site.baseurl }}" alt="img failed to load :c" width="30">
        <div class="description-rectangle"><div style="display:block; margin-left: 7px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span></div></div>
        <div style="display:block; margin-left: 35px; margin-top: -32px;"><span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>&#8656;&nbsp;description</em></span></div>
    </label>

    <div class="gregory" style="background: -webkit-linear-gradient(black, black, white ); -webkit-background-clip: text; -webkit-text-fill-color: transparent; display: block; margin-top: 20px; font-size: 15.5px; line-height: 1.45;">{{ post.excerpt }}</div>

    <div class="cont" style="display: block; margin-top: -20px;">
      <div class="center-button"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><button class="button button1">goto post</button></a></div>
    </div>

  </div>
  {% endif %}
  {% endfor %}

  <hr class="hrule" color="#D7D7D7" style="display: block; margin-top:35px;">

  {% assign count = 0 %}

  <ul class="post-list" style="display: block; margin-top:35px;">
    {% for post in site.posts offset: after_first_trash %}

      {% if post.trash == "yes" and count < 5 %}
      {% assign count = count | plus: 1 %}
      <li>
        <div class="row">
            <div class="column left">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:94%; display:block; margin-left:auto; margin-right:6%; margin-top:10%"></a>
            </div>
            <div class="column right">
                <h2>
                  <a id="elseTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <span class="post-meta" style="display: block; margin-top: -18px; margin-left: 8px;">{{ post.date | date: "%b %-d, %Y" }}</span>
                <span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span>
            </div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class=post-excerpt style="display: block; margin-top: 0px;">
  <div class="cont" style="display: block; margin-top: 0px;">
    <div class="center-button"><a class="post-link" href="{{ "/trash_kive/" | prepend: site.baseurl }}"><button class="button button1">old trash</button></a></div>
  </div></div>

  <p class="rss-subscribe">subscribe <a id="elseGO" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
