---
layout: default
title: "song"
permalink: /song/
---

<div class="home">

  <h1 class="page-heading"><b><em>Music ÔvÔ</em></b></h1>

  <ul class="post-list">
    {% assign num_posts = 0 %}
    {% for post in site.categories.posts-music %}
      {% if post.trash == "no" and post.draft == "no" %}
        {% assign num_posts = num_posts | plus: 1 %}
    <div class="row">
        <div class="column left">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.thumbnail | prepend:site.baseurl }}" alt="img failed to load :c" style="width:94%; display:block; margin-left:auto; margin-right:6%; margin-top:10%"></a>
        </div>
        <div class="column right">
            <h2>
              <a id="songTX" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta" style="display: block; margin-top: -18px; margin-left: 8px;">{{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="post-meta" style="display: block; margin-top: 8px; margin-left: 4px;"><em>{{ post.description }}</em></span>
        </div>
    </div>
      {% endif %}
    {% endfor %}
    {% if num_posts == 0 %}
      <p style="display: block; margin-top: 40px; margin-left: 20%; margin-right: 15%; margin-bottom: 40px;">No posts here yet. But when they do finally come, you'll probably read them and go <em>"Waouw! This is a post about song."</em></p>
    {% endif %}
  </ul>

  <p class="rss-subscribe">subscribe <a id="elseGO" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
